.weather-image {
  background-color: #fff;
  background-image: url('../backgrounds/images/bg.svg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 30vw; height: 100%;
  overflow: hidden;
}
