.menu-panel {
  background-color: #0f1a20;
  color: #fff;
  width: 35vw; height: 100%;
  padding: 20px;
  position: relative;
}

.darkscreen {
  background-color: #fff;
  opacity: 0.8;
  width: 100%; height: 100%;
}
